// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F6F1F1;

//refinder colours

// $beige: #F6F1F1;
// $light-blue-refinder: #AFD3E2;
// $blue-secondary: #19A7CE;
// $navy: #146C94;

// $custom-black: #222831;
// $custom-gray: #393E46;
// $custom-orange: #D65A31;
// $custom-white: #EEEEEE;

$custom-white: #EEEEEE;
$light-blue-refinder: #393E46;
$blue-secondary: gray;
$custom-orange: #D65A31;
