// Specific CSS for your home-page

body, html {
  height: 100%;
  margin: 0;
  padding: 0;

}

.bg {
  background-image: url("lostwallet.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  //height: 100vh;
}

.refinder-minimal-logo {
  height: 50%;
  width: 50%;
}

.main-page-info {
  justify-content: center;
}
