<div class="sticky-bottom">
    <div class="navbar footer navbar-expand-sm navbar-light navbar-lewagon icon-spacing">

      <div class="custom-container">
          <%= link_to root_path, class: "navbar-brand"  do %>
            <i class="fa-solid fa-house fa-2xl"></i>
          <% end %>

        <%# <div class="footer-icon"> %>
          <%# <%= link_to my_items_path do %>
            <%# <%= image_tag ("search.png")%>
          <%# <% end %>
        <%# </div> %>

          <%= link_to my_items_path, class: "navbar-brand" do %>
            <i class="fa-solid fa-user fa-2xl"></i>
          <% end %>
    </div>
</div>
