<div class="sticky-top">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

    <div class="custom-container">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag ("refindernewlogo.png")%>
      <% end %>

      <%= link_to chatrooms_path, class: "navbar-brand"  do %>
        <i class="fa-solid fa-comment fa-2xl"></i>
      <% end %>
    </div>
  </div>
</div>
