<div class="sticky-top">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

    <div class="custom-container">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag ("refindernewlogo.png")%>
      <% end %>
      
    </div>
  </div>
</div>
