<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>

  <div class="bg">
        <div class="container">
          <div class="row">
            <div class= "col-xs-12 text-center">
              <div class="info-container">
                <div class= "info-div">
                  <img class= "refinder-minimal-logo" src="refinderMinimal.png" alt="refinderLogo">
                  <p>Refinder connects you with your lost items in your area. With over 5000 returned items to date, what's lost can be found!</p>
                    <%= link_to "Find your Item!", items_path, class: "btn btn-info " %>

                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</body>
</html>
