<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: white;
    }
    .main-container {
      max-width: 960px;
      margin: 0 auto;
      padding: 20px;
      text-align: center;
    }
    .image-container {
      margin-top: 20px;
      padding-bottom: 10px;
    }
    .responsive-image {
      max-width: 100%;
      height: auto;
      border-radius: 5%;
    }
    .button {
      margin-top: 20px;

    }

    .text-center {
        padding-top: 10px; /* Adjust the value as per your preference */
    }

     .btn-primary {
          height: 40px;
          width: 250px;
          font-size: large;
        background-color: #D65A31;
        color: #EEEEEE;
        border-radius: 10px;
        border-style: solid;
        border-color: #EEEEEE;
        transition: background-color 0.3s ease;
        font-family: 'Courier New', Courier, monospace;
    }

    .btn :hover {
      background-color: #EEEEEE;
        color: #D65A31;
    }

  </style>

</head>


<body>

<div class= "main-container"></div>

<h1 class="custom-header">Refinder</h1>
    <div class="image-container mb-2  ">
      <img src="<%= asset_path('landing.png') %>" alt="Image" class="responsive-image">
    </div>
    <div class="text-center mb-3">
            <%= link_to "Find your lost item!", items_path, class: "btn btn-primary mt-5" %>
   </div>
</body>
</html>
