<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>

  <div class="bg"> </div>


          <img class= "refinder-minimal-logo" src="refinderMinimal.png" alt="refinderLogo">
          <p>Refinder connects you with your lost items in your area. With over 5000 returned items to date, what's lost can be found!</p>
          <button class= "to-main-page">Find your Items</button>



</body>
</html>
