@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

.index-card-bordered {
  padding-top: 10px;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #e9edf0;
  background-color: $beige;
  border: 5px solid #eaeaea5d;
  border-radius: 10px;
  padding: 10px;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: justify;

  @media (min-width: 600px) {
    &.col-md-6 {
      width: 90%;
    }
    &.col-md-4 {
    width: 33%;
   }
   &.col-md-3 {
    width: 40%;
   }
  }

  font-family: 'Oxygen', sans-serif;

}

// .index-card-bordered :hover {
//   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
//   border: 1px solid darkgray;
//   z-index: 500;
// }

.index-li {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 10px;
  list-style: none;

}

.index-ul {
  border: 5px solid #eaeaea5d;
  border-radius: 10px;
  margin-right: 10px;
  padding-left: 0px;
}

.btn {
  background-color: $navy;
  color: $beige;
  border-radius: 10px;
  border-width: 2px;
  border-color: $navy;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: $beige;
  color: $navy;
  border-color: $navy;
}


 .search-btn {
  background-color: $navy;
  color: $beige;
  margin-left: 10px;
  border-radius: 10px;
  border-width: 2px;
  border-color: $navy;
  transition: background-color 0.3s ease;
}

.search-btn:hover {
  background-color: $beige;
  color: $navy;
  border-color: $navy;
}

.row {
  background-color: $light-blue-refinder;
}

.card {
border-radius: 20px;

}

// .card :hover {
//   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
//   border: 1px solid darkgray;
//   border-radius: 10px;
//   z-index: 500;
// }
