
.card-title-bold {
  font-weight: bold;
}


.text-found-colour {
  color: rgb(11, 182, 11)
}

.text-lost-colour {
  color: rgb(223, 22, 0)
}


.card-header {
 //box-sizing: border-box;
 background-color: $beige;
}


.card-header-top-menu {
  box-sizing: border-box;
  background-color: $light-gray;
 }

 .card-body {
  background-color: $beige;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
 }

 .card-header-top-menu {
  background-color: $light-blue-refinder;
 }

 body {
  background-color: $light-blue-refinder;
 }

 // search bar

 .form-control::placeholder {
 color: gray;
 }

 .form-control-search-bar {
  border-radius: 5px;
  border-color: $navy;
  border-width: 2px;
 }


 //h1 for my_items

 .custom-h1 {
  text-align: center;
  margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  text-underline-position: below;
 }
