
.card-title-bold {
  font-weight: bold;
}


.text-found-colour {
  color: rgb(11, 182, 11)
}

.text-lost-colour {
  color: rgb(223, 22, 0)
}

.card-image {
  border-radius: 10px;
  border-width: 2px;
  border-color: $custom-orange;
}

.card-header {
 background-color: $custom-white;
}


.card-header-top-menu {
  box-sizing: border-box;
  background-color: $light-gray;
 }

 .card-body {
  background-color: $custom-white;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
 }

 .report-card-body {
  //background-color: $custom-white;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
 }
 .card-header-top-menu {
  background-color: $light-blue-refinder;
 }

 body {
  background-color: $light-blue-refinder;
 }


 .form-label {
  font-family: 'Courier New', Courier, monospace;
 }
 //h1 for my_items

 .custom-h1 {
  text-align: center;
  margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  text-underline-position: below;
 }

 i {
  color: #393E46;
 }
