@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

.index-card-bordered {
  padding-top: 10px;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #e9edf0;
  background-color: $custom-white;
  border-radius: 10px;
  border-style: solid;
  border-width: 2.5px;
  border-color: $custom-orange;
  padding: 10px;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: justify;

  @media (min-width: 600px) {
    &.col-md-6 {
      width: 90%;
    }
    &.col-md-4 {
    width: 33%;
   }
   &.col-md-3 {
    width: 40%;
   }
  }

  font-family: 'Courier New', Courier, monospace;

}

.index-li {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 10px;
  list-style: none;

}

.index-ul {
  border: 5px solid #eaeaea5d;
  border-radius: 10px;
  margin-right: 10px;
  padding-left: 0px;
}

.btn {
  background-color: $custom-orange;
  color: $custom-white;
  border-radius: 10px;
  border-style: solid;
  border-color: $custom-white;
  transition: background-color 0.3s ease;
  font-family: 'Courier New', Courier, monospace;
}

.btn:hover {
  background-color: $custom-white;
  color: $custom-orange;
  border-color: $custom-orange;
}

.form-control {
  border-radius: 10px;
  border-style: solid;
  border-width: 2.5px;
  font-family: 'Courier New', Courier, monospace;
}

.row {
  // background-color: $light-blue-refinder;
}

.card {
border-radius: 20px;

}

.info {
  // width: 100px;
  // height: 50px;
  background-color: $custom-orange;
  color: $custom-white;
  border-radius: 10px;
  border-width: 2px;
  border-color: white;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

// .row-lost {
//   justify-content: center;
// }

.msg-icon {
  color: $custom-orange;
  font-size: 20px;
}

a {
  color: black;
  text-decoration: none;
}

.p-width {
  width: 200px;
}


.mapContainer {
  visibility: visible;
  transition: visibility 1s, opacity 0.5s linear;
}

.button-alignment-index {
  display: flex;
  position: relative;
  top: 70px;
  z-index: 10;
}

.index-page-map {
  margin-top: -55px;
}

.custom-index-container-margin {
  margin-top: 80px;
}

.list-group-item {
  border-radius: 10px;
  border-width: 2px;
  border-color: $custom-orange;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.li {
  border-radius: 10px;
  border-width: 2px;
  border-color: $custom-orange;
}

.card-title {
  font-family: 'Courier New', Courier, monospace;
}

label {
  font-family: 'Courier New', Courier, monospace;
}

.fa-solid {
  color: $light-blue-refinder;
}

.info-icon {
  color: white;
  line-height: 2;
}

a {
  color: white;
}

.page-height-setter{
  min-height: 100vh !important;
}

body{
  min-height: 100vh;
}

.row-custom-report{
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
