.navbar {
  justify-content: space-between;
  background: $navy;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item-dropdown{
  // @media (max-width: 400px) {
  //     float: none;
  //     text-align: right;
  //   }
  }
