.border-styling-show{
  border-left: 30px;
  border-right: 30px;
  border-style: solid;
  border-color: $light-blue-refinder;
}

.map-styling-showpage{
    width: 100%;
    height: 450px;
}

.show-page-text{
  // text-decoration: solid;
  color: white;
}
// style="width: 100%; height: 450px;"
// #map-styling {
//   position: relative;
//   height: inherit;
//   width: inherit;
// }
// style="border-left: 30px solid #fff; border-right: 30px solid #fff;"
